/* Importation de Tailwind CSS */
@import "tailwindcss";

@font-face {
    font-family: 'VT323';
    src: url('../fonts/VT323/VT323-Regular.woff') format('woff2');
    font-weight: normal;
    font-style: normal;
}

.font-vt323 {
    font-family: 'VT323', sans-serif;
}


